# file
*.tmp
*.xlsx
*.gif
*.dat
*.log
*.db
*.sqlite
*.h5ad
*.fq
*.pyc
*.pth
*.zip
*.csv
*.tsv
*.gz*
*.rds
*.pickle
*.RData
*.Rhistory
*.pdf
*.h5
*.*pt
*.tar
*.joblib
*.dill
*.np[zy]
*.adjlist
*.pkl
*.svg
*.png
*.html
*.mm
*.rda
*.lg
*.o
*.jpg
*.svs
*.tiff
*.tif
*.TIF
._*
*.pth
*.json
*.ipynb
*.DS_Store
*.lock
*.arrow
.codecov.yaml
hyperparams.yaml
.coverage*
.snakemake_timestamp
events.**
*.txt
*.xenium
*.parquet
coverage.xml
conda

# folder
**/conda/
**/.cache/
**/.nv/
**/.ipython/
**/tensorboard/
**/tmp*/
**/__pycache__/
**/logs/
**/raw/
**/lightning_logs/*
**/.snakemake/

deprecated/
tests/test_scanpy*
experiments/other
experiments/*/data/
experiments/pub_methods/
experiments/*.py
results
other/
build/
api/
.ipynb_checkpoints/
.virtual_documents/
case/*
tests/data/*
experiments/data/*
experiments/**/*.yaml
**/explain/**.yaml

# exclude
!resource/tutorials/*.ipynb
!resource/*
!.vscode/*
!Dockerfile
!experiments/*.yaml
